@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #f0f8ff;
    --cor-tercearia: #00ddff;
    --cor-hover: #1c1c1c;

    --fonte-principal: "Krona One", sans-serif;
    --fonte-secundaria: "Oswald", sans-serif;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    width: 100%;
    background-color: var(--cor-primaria);
    color:var(--cor-secundaria);
    
    

}

.cabecalho{
    padding: 2% 0 0 16%;
    display: flex;
    gap: 50px;
    margin-left: 20%;
    


}

.cabecalho__link{
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--cor-tercearia);
    text-decoration: none;
    

}


.tt1__curriculo{
    font-family: var(--fonte-secundaria);
    padding: 2% 0 0 15%;
    font-size: 1.5rem;
    font-weight: 350;
    

}

.tt1, .tt2, .tt3{
    color:var(--cor-tercearia);
    font-family: var(--fonte-principal);
    padding: 2% 0 0 15%;
    margin-top: 40px;

}


.tt2__experiencias, .tt3__estudos{
    font-family: var(--fonte-secundaria);
    padding: 2% 0 0 17%;
    font-size: 1.5rem;
    font-weight: 350;
    

}

.strong1{
    color: var(--cor-tercearia);

}



.links{

    color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    margin-left: 4rem;
    margin-top:20px;
    
    
    

}

.links__link {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;
    border: 3px solid var(--cor-tercearia);
    width: 230px;
    border-radius: 13px;
    padding: 8px;
    font-family: var(--fonte-secundaria);
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--cor-tercearia);
}

.links__link:hover {
   background-color: var(--cor-hover); 

}


.icon img {

  width: 24px;
  height: 24px;
  margin-top: 9px;

  
}


.icon {
    width: 30px;



}


.sub{
    color: var(--cor-secundaria);
    margin-left: 0.6rem;
    margin-top: 1.2rem;
    font-family: var(--fonte-principal);
    font-size: 1.4rem;


}

.aps, .aps2, .aps3{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-between;
}

.aps{
    margin: 8% 15%;
    gap: 85px;
}

.aps2, .aps3{
    margin: 5% 12%;
}

.aps__cont{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 36px;
    

}

.aps__cont2{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 36px;
    
    
}   

.aps__cont__tt{
    color: var(--cor-secundaria);
    font-family: var(--fonte-principal);
    font-size: 2rem;
    font-weight: 400;
    font-style:normal;
    padding: 0;
    line-height: 120%;
    
    
   

}

.aps__cont__p{

    color: var(--cor-secundaria);
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;


}

.rodape{
    font-family: "Quicksand", sans-serif;
    background-color: var(--cor-tercearia);;
    text-align: center;
    padding: 20px;
    font-size: 1.25rem;
    font-weight: 500;

}

.imagem{
    width: 50%;


}

.rdp2{
    color:var(--cor-primaria)

}

@media (max-width: 1200px){

    .cabecalho{
        padding: 6%;
        justify-content: center;
        margin-left: 2%;
        

    }

    .cabecalho__link{
        font-size: 2.5rem;

    }

    .aps, .aps2{
        flex-direction: column-reverse;
        align-items: center;

    }

    .aps__cont2{
        gap: 5%;
        font-size: 1.8rem;
        margin-right: 8%;

    }


    .links{
        margin-right: 15%;
        

    }

    .sub{
        margin-left: 0;
        text-align: center;
        

    }



}


